<a href="https://colab.research.google.com/github/trangdanghoctin/BT-DSTT/blob/main/BUOI6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#b1
num=map(int,input().split())
count={}
for i in num:
    if(i not in count):
     count[i]=1;
list=[]
for i in count:
    list.append(i);
print(list)

In [ ]:
#b2
num=map(int,input().split())
sum=0;
list=[]
for i in num:
  sum+=i;
  list.append(sum)
print(list)

1 2 3 4
[1, 3, 6, 10]

In [ ]:
#b3
num=list(map(int,input().split()))
k=int(input())
k=k%len(num)
n=len(num)
tpl=()
# 1 2 3 4 5
#2
for i in range(k,n):
        tpl+=(num[i],)
for i in range(0,k):
        tpl+=(num[i],)
print (tpl)

In [ ]:
#b4
s=(map(str,input().split()))
dic={}
for pair in s:
  key,value=pair.split(':',1)
  if key not in dic:
    dic[key]=[value]
  else:
    dic[key].append(value)
print(dic)

name:A name:B age:2
{'name': ['A', 'B'], 'age': ['2']}

In [ ]:
#b5
s=map(int,input().split())
dic={
    'posititive':0,
    'negatives':0,
    'Zero':0
}
for i in s:
  if (i>0):
    dic['posititive']+=1
  elif(i<0):
    dic['negatives']+=1
  else:
    dic['Zero']+=1
print(dic)

1 -1 1 -1
{'posititive': 2, 'negatives': 2, 'Zero': 0}

In [ ]:
#b6
s=map(int,input().split())
print(sum(s))

-1 -2 3
0

In [ ]:
#b7
s=tuple(map(str,input().split()))
print(s[0],s[-1],s[::-1])

a b c  d
a d ('d', 'c', 'b', 'a')

In [ ]:
#b8
dic={}
s=map(str,input().split())
for i in s:
  if(i not in dic):
    dic[i]=1
  else:
    dic[i]+=1
print(dic)

a y x a y x a y
{'a': 3, 'y': 3, 'x': 2}

In [ ]:
#b9
dic={}
def nhapchuoi():
  s=input()
  s=s.replace('{','')
  s=s.replace('}','')
  s=s.replace("'",'')
  if(s==''): return
  s=map(str,s.split(','))
  for i in s:
    key,value=i.split(':',1)
    value=int(value)
    if(key in dic):
     dic[key]+=value
    else:
      dic[key]=value
nhapchuoi()
nhapchuoi()
print(dic)

{'x':5}
{}
{'x': 5}

In [ ]:
#b10
ans=[]
lst=list(map(int,input().split()))
k=int(input())
for i in lst:
  if (k-i in lst):
    tpl=(max(k-i,i),min(k-i,i))
    tpl1=(min(k-i,i),max(k-i,i))
    if(tpl not in ans):
      ans.append(tpl)
      if(tpl!=tpl1):
        ans.append(tpl1)
ans.sort()
print (ans)

1 2 3 4
10
[]

In [ ]:
#b11
lst=map(int,input().split())
tp1=()
tp2=()
for i in lst:
  if(i%2):
    tp1+=(i,)
  else:
    tp2+=(i,)
print(tp2)
print(tp1)

1
()
(1,)

In [ ]:
#b12
lst=list(map(int,input().split()))
dic={}
lst.sort()
ma=0
num=0
for i in lst:
  if(i in dic):
    dic[i]+=1
  else:
    dic[i]=1
  if(dic[i]>ma):
    ma=dic[i]
    num=i
print(num)

100
100

In [ ]:
#b13
s=list(map(str,input().split()))
dic={}
for i in range (1,len(s),2):
  dic[s[i]]= s[i-1]
print(dic)

id 99
{'99': 'id'}

In [ ]:
#b14
def nhapchuoi():
  s1=list(map(int,input().split()))
  s2=list(map(int,input().split()))
  lst=[]
  if(len(s1)==0):
    return lst
  if(len(s2)==0):
    return lst
  for i in range(0,min(len(s1),len(s2))):
    if(s1[i] in s2 and s1[i] not in lst):
      lst.append(s1[i])
    if(s2[i] in s1 and s2[i] not in lst):
      lst.append(s2[i])
  return lst
print(nhapchuoi())

1 2 3 4 5

[]

In [ ]:
#b15
s=list(map(str,input().split()))
k=int(input())
dic={}
for i in range(1,len(s),2):
  if(int(s[i])>k):
    dic[s[i-1]]=int(s[i])
print(dic)

math 95 sc 89 el 92
90
{'math': 95, 'el': 92}

In [ ]:
#b16

In [ ]:
#b17
lst=[]
n=int(input())
for i in range(1,n+1):
  lst.append(list(map(int,input().split())))
for i in range(0,n):
  for j in range(0,n):
    if(i==j):
      print(f"{lst[i][j]}",end=" ")
    elif(i==n-j-1):
      print(f"{lst[i][j]}",end=" ")
    else:
      print(" ",end="")

2
1 2
3 4
1 2 3 4

In [ ]:
#b18
n,m,k=map(int,input().split())
lst=[]
ans=0
for i in range(0,n):
  lst.append(list(map(int,input().split())))
for i in range(0,n):
  ans+=lst[i][k-1]
print(ans)

2 2 1
1 3
4 5
5

In [ ]:
#b19
lst=list(map(int,input().split()))
ans=0
ma=0
for i in range(0,len(lst)):
  if(lst[i]>ma):
    ans=i+1
    ma=lst[i]
print(ans)

9 7 4 3 2
1

In [ ]:
#b20
lst=list(map(int,input().split()))
k=int(input())
try:
  print(lst.index(k)+1)
except:
  print(-1)

1 2 3 4 5
5
5

In [ ]:
#b21
lst=list(map(str,input().split()))
dic={}
for i in range(0,len(lst)):
  if(lst[i] not in dic):
    dic[lst[i]]=(i,)
  else:
    dic[lst[i]]+=(i,)
print(dic)

1 1 1
{'1': (0, 1, 2)}